body {
  background-color: black;
  color: white;
}

a, a:hover, a:focus, a:active, a:visited { 
  text-decoration: none; 
}

a:hover {
  color: blueviolet !important;
}

a:visited {
  color: white;
}